@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
}
.header{
    height: 120px;
    background-color: #001233;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF595A;
    font-size: 50px;
}
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gridContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid grey;
    /* width: 960px;
    height: 960px; */
    align-self: center;
    margin: 20px;
}
.row{
    display: flex;
    align-items: center;
}
.box{
    max-height: 300px;
    max-width: 300px; 
    /* border: 1px solid grey; */
    /* background-color: yellow; */
}
.buttonsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.changePad{
    font-family: 'Gloria Hallelujah', cursive;
    margin: 20px;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    /* min-width: 160px; */
    width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #FF595A;
    box-shadow: inset 0 0 0 2px #001233;
    background-color: transparent;
    height: 48px;
    align-self: center;
}
.changePad:hover{
    color: #001233;
    background-color: #FF595A;
}
.footer{
    margin-top: 70px;
    flex-shrink: 0;
    background-color: #001233;
    height: 80px;
}
.footer p{
    font-size: 18px;
    color: #FF595A;
    text-align: center;
}
